aiofiles==22.1.0
aiosqlite==0.19.0
alabaster==0.7.12
alembic==1.4.3
anyio==3.7.1
apache-airflow==1.10.14
apache-airflow-backport-providers-google==2020.11.23
apache-airflow-providers-ftp==1.0.0
apache-airflow-providers-http==1.0.0
apache-airflow-providers-imap==1.0.0
apache-airflow-providers-sqlite==1.0.0
apache-beam==2.42.0
apispec==1.3.3
appnope==0.1.0
argcomplete==1.10.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asn1crypto==0.24.0
asyncio==3.4.3
atomicwrites==1.3.0
attrs==20.3.0
avro-python3==1.9.1
awscli==1.17.5
Babel==2.14.0
backcall==0.2.0
beautifulsoup4==4.8.0
bleach==6.0.0
blis==0.4.1
boto==2.49.0
botocore==1.14.5
bs4==0.0.1
cached-property==1.5.2
cachetools==4.1.1
catalogue==2.0.6
cattrs==1.1.2
certifi==2019.6.16
cffi==1.12.3
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==3.3.0
click==8.0.3
clickclick==20.10.2
cloudpickle==2.1.0
colorama==0.4.1
colorlog==4.0.2
commonmark==0.9.1
conda==4.7.10
conda-package-handling==1.3.11
configparser==3.5.3
connexion==2.7.0
coverage==6.5.0
crcmod==1.7
croniter==0.3.36
cryptography==2.7
cycler==0.10.0
cymem==2.0.2
Cython==0.29.32
cytoolz==0.10.0
debugpy==1.7.0
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.1.1
dimcli==0.6.4.2
distlib==0.3.8
dnspython==2.0.0
docopt==0.6.2
docutils==0.15.2
docx2txt==0.8
EbookLib==0.17.1
email-validator==1.1.2
en-core-web-lg==2.2.0
en-core-web-sm==3.2.0
entrypoints==0.4
exceptiongroup==1.2.0
extract-msg==0.23.1
fastavro==1.7.4
fasteners==0.15
fastjsonschema==2.19.1
feedparser==5.2.1
filelock==3.12.2
Flask==1.1.2
Flask-Admin==1.5.4
Flask-AppBuilder==2.3.4
Flask-Babel==1.0.0
Flask-Caching==1.3.3
Flask-JWT-Extended==3.25.0
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.4
flask-swagger==0.2.13
Flask-WTF==0.14.3
fsspec==2023.1.0
funcsigs==1.0.2
future==0.18.1
fuzzywuzzy==0.18.0
google-ads==8.1.0
google-api-core==2.14.0
google-api-python-client==1.8.0
google-apitools==0.5.31
google-auth==2.23.2
google-auth-httplib2==0.1.1
google-auth-oauthlib==0.4.2
google-cloud-automl==1.0.1
google-cloud-bigquery==2.34.4
google-cloud-bigquery-datatransfer==1.1.1
google-cloud-bigquery-storage==2.13.2
google-cloud-bigtable==1.7.3
google-cloud-container==1.0.1
google-cloud-core==2.3.3
google-cloud-datacatalog==0.7.0
google-cloud-dataproc==1.1.1
google-cloud-datastore==1.15.5
google-cloud-dlp==3.12.3
google-cloud-kms==1.4.0
google-cloud-language==1.3.2
google-cloud-logging==1.15.1
google-cloud-memcache==0.2.0
google-cloud-monitoring==1.1.0
google-cloud-os-login==1.0.0
google-cloud-pubsub==2.18.4
google-cloud-pubsublite==1.7.0
google-cloud-recommendations-ai==0.7.1
google-cloud-redis==1.0.0
google-cloud-secret-manager==1.0.0
google-cloud-spanner==1.19.3
google-cloud-speech==1.3.2
google-cloud-storage==1.20.0
google-cloud-tasks==1.5.0
google-cloud-texttospeech==1.0.1
google-cloud-translate==1.6.0
google-cloud-videointelligence==1.16.3
google-cloud-vision==1.0.2
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.61.0
graphviz==0.15
grpc-google-iam-v1==0.12.6
grpcio-gcp==0.2.2
grpcio-status==1.59.0
gunicorn==19.10.0
hdfs==2.5.8
httplib2==0.12.0
huggingface-hub==0.16.4
identify==2.5.24
idna==2.8
igraph==0.1.11
IMAPClient==2.1.0
importlib-metadata==6.7.0
importlib-resources==1.5.0
inflection==0.5.1
ipykernel==6.16.2
ipython==7.9.0
ipython-genutils==0.2.0
iso8601==0.1.13
isort==5.10.1
itsdangerous==1.1.0
jedi==0.15.1
jellyfish==0.7.2
jgraph==0.2.1
Jinja2==2.11.2
jmespath==0.9.4
joblib==0.14.0
json-merge-patch==0.2
json5==0.9.14
jsonschema==4.17.3
jupyter-client==7.4.9
jupyter-core==4.12.0
jupyter-events==0.6.3
jupyter-server==1.24.0
jupyter-server-fileid==0.9.1
jupyter-server-ydoc==0.8.0
jupyter-ydoc==0.2.5
jupyterlab==3.5.3
jupyterlab-pygments==0.2.2
jupyterlab-server==2.24.0
kiwisolver==1.1.0
langchain==0.0.27
langcodes==3.3.0
lazy-object-proxy==1.4.3
leidenalg==0.7.0
libarchive-c==2.8
lockfile==0.12.2
lxml==4.4.0
Mako==1.1.3
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==2.21.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==2.1.0
marshmallow-sqlalchemy==0.23.1
matplotlib==3.1.1
matplotlib-inline==0.1.6
mistune==3.0.2
mock==2.0.0
monotonic==1.5
more-itertools==7.2.0
munkres==1.1.2
murmurhash==1.0.2
natsort==7.1.0
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.8.0
nest-asyncio==1.5.9
networkx==2.3
nodeenv==1.8.0
notebook==6.5.6
notebook-shim==0.2.3
numpy==1.17.3
oauth2client==3.0.0
oauthlib==3.1.0
objsize==0.6.1
olefile==0.46
openapi-spec-validator==0.2.9
orjson==3.9.7
overrides==6.5.0
packaging==21.3
pandas==1.3.5
pandas-gbq==0.14.1
pandocfilters==1.5.0
parso==0.5.1
pathy==0.6.1
pbr==5.4.3
pdf2image==1.13.1
pdfminer==20191125
pdfminer.six==20181108
pdftotext==2.1.5
pendulum==1.4.4
pep562==1.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.2.0
pkgutil-resolve-name==1.3.10
plac==0.9.6
platformdirs==4.0.0
plotly==4.8.0
pluggy==0.12.0
pprintpp==0.4.0
pre-commit==2.21.0
preshed==3.0.2
prison==0.1.3
prometheus-client==0.17.1
prompt-toolkit==2.0.10
proto-plus==1.13.0
protobuf==3.20.3
psutil==5.7.3
ptyprocess==0.6.0
py==1.8.0
pyarrow==7.0.0
pyasn1==0.4.7
pyasn1-modules==0.2.6
pycosat==0.6.3
pycountry==22.3.5
pycountry-convert==0.7.2
pycparser==2.19
pycryptodome==3.9.8
pydantic==1.8.2
pydata-google-auth==1.1.0
pydot==1.4.1
pyemd==0.5.1
Pygments==2.4.2
PyJWT==1.7.1
pylatexenc==2.10
pymongo==3.9.0
PyMuPDF==1.17.5
pyOpenSSL==19.0.0
pyparsing==2.4.2
PyPDF2==1.26.0
Pyphen==0.9.5
pyrsistent==0.17.3
PySocks==1.7.0
pytesseract==0.3.5
pytest==5.0.1
pytest-cov==4.1.0
pytest-mock==3.11.1
python-daemon==2.2.4
python-dateutil==2.8.2
python-editor==1.0.4
python-igraph==0.7.1.post6
python-json-logger==2.0.7
python-nvd3==0.15.0
python-pptx==0.6.18
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2020.1
pytzdata==2020.1
PyYAML==5.3.1
pyzmq==25.1.2
regex==2023.10.3
repoze.lru==0.7
requests==2.31.0
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==9.2.0
rsa==3.4.2
ruamel-yaml==0.15.46
s3transfer==0.3.1
safetensors==0.4.0
scikit-learn==0.21.3
scipy==1.3.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.8.2
setproctitle==1.2.1
six==1.12.0
smart-open==5.2.1
sniffio==1.3.0
snorkel==0.9.3
sortedcontainers==2.2.2
soupsieve==1.9.5
spacy==3.2.0
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SpeechRecognition==3.8.1
SQLAlchemy==1.3.21
SQLAlchemy-JSONField==0.9.0
SQLAlchemy-Utils==0.36.8
sqlparse==0.4.4
srsly==2.4.2
swagger-ui-bundle==0.0.8
tabulate==0.8.7
tenacity==4.12.0
tensorboardX==1.9
termcolor==1.1.0
terminado==0.17.1
text-unidecode==1.3
textacy==0.9.1
textract==1.6.3
thinc==8.0.13
thrift==0.13.0
tika==1.24
timeout-decorator==0.4.1
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.0
tomli==2.0.1
toolz==0.10.0
torch==1.1.0.post2
tornado==6.2
tox==3.14.1
tqdm==4.42.1
traitlets==4.3.3
transformers==4.30.2
typer==0.4.0
typing-extensions==3.7.4.3
tzlocal==1.5.1
unicodecsv==0.14.1
uritemplate==3.0.1
urllib3==1.25.3
virtualenv==20.25.0
wasabi==0.8.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==0.16.1
WTForms==2.3.3
xlrd==1.2.0
XlsxWriter==1.3.3
xmltodict==0.12.0
y-py==0.6.2
ypy-websocket==0.8.4
zipp==0.5.2
zope.deprecation==4.4.0
zstandard==0.21.0
