attrs
cachetools
certifi
cffi
chardet
coverage
google-api-core
google-auth
google-auth-oauthlib
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
google-cloud-translate
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
idna
iniconfig
libcst
mypy-extensions
numpy
oauthlib
packaging
pandas
pandas-gbq
Pillow
pluggy
pprintpp
proto-plus==1.24.0.dev1
protobuf
py
pyarrow
pyasn1
pyasn1-modules
pycld2
pycountry
pycountry-convert
pycparser
pydata-google-auth
pyparsing
pytest
pytest-cov
pytest-mock
python-dateutil
pytz
PyYAML
repoze.lru
requests
requests-oauthlib
rsa
six
toml
typing-extensions
typing-inspect
urllib3
