attrs==21.2.0
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
coverage==5.5
google-api-core==1.30.0
google-auth==1.30.2
google-auth-oauthlib==0.4.4
google-cloud-bigquery==2.20.0
google-cloud-bigquery-storage==2.4.0
google-cloud-core==1.6.0
google-cloud-translate==3.2.0
google-crc32c==1.1.2
google-resumable-media==1.3.0
googleapis-common-protos==1.53.0
grpcio==1.33.1
idna==2.10
iniconfig==1.1.1
libcst==0.3.13
mypy-extensions==0.4.3
numpy==1.20.3
oauthlib==3.1.0
packaging==20.9
pandas==1.1.3
pandas-gbq==0.14.0
Pillow==8.2.0
pluggy==0.13.1
pprintpp==0.4.0
proto-plus==1.11.0
protobuf==3.13.0
py==1.10.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycld2==0.41
pycountry==20.7.3
pycountry-convert==0.7.2
pycparser==2.20
pydata-google-auth==1.1.0
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
pytest-mock==3.6.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
repoze.lru==0.7
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.25.11
